body {
    background: url(../picture/IMG_47042.jpg) no-repeat center fixed; 
    background-size: cover;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar {
    background-color: #2aabd2;
}
.navbar .navbar-brand {
    color: darkblue;
    margin-top: -4px;
}
.navbar .navbar-nav > li > a {
    color: #0f0f0f;
    /*font-weight: bolder;*/
    /*font-size: 11px;*/
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #000;
}

#selectSubject {
    width: 400px;
}

#selectTerm, #year, #section {
     width: 100px;
}

.form-horizontal {
    padding-top: 20px;
}

.createCourseForm {
    padding-left: 200px;
}

.table-bordered {
    width: 70%;
    background-color: #f9f9f9;
}

td:nth-child(1) {
    width: 20px;
    text-align: center;
}

th {
    background-color: #b9def0;
}

#btnSubmit {
    margin-left: 600px;
}