body {
    background: url(../picture/IMG_47042.jpg) no-repeat center fixed; 
    background-size: cover;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar {
    background-color: #2aabd2;
}
.navbar .navbar-brand {
    color: darkblue;
    margin-top: -4px;
}
.navbar .navbar-nav > li > a {
    color: #0f0f0f;
    /*font-weight: bolder;*/
    /*font-size: 11px;*/
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #000;
}

th, td {
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

td:nth-child(1) {
    width: 200px;
}

th {
    background-color: #b9def0;
}

.table-bordered {
    width: 90%;
    background-color: #f9f9f9;
    margin-top: 30px;
}

.schoolRecord {
    /*text-align: center;*/
    padding-left: 80px;
}
