body {
    background: url(../picture/IMG_47042.jpg) no-repeat center fixed; 
    background-size: cover;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar {
    background-color: #2aabd2;
}
.navbar .navbar-brand {
    color: darkblue;
    margin-top: -4px;
}
.navbar .navbar-nav > li > a {
    color: #0f0f0f;
    /*font-weight: bolder;*/
    /*font-size: 11px;*/
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #000;
}

.well {
    width: 300px;
    height: 500px;
    text-align: center;
}

.well img{
    width: 200px; 
    height: 200px;
}

.btn btn-primary{
    padding-top: 10px;
}

.col-md-9 {
    padding-left: 50px;
}

label.search{
    margin-left:270px;

}

.btn btn-default{
    margin-top:50px;
}
.form-group{
    margin-left: 400px;
    margin-top:50px;
}

.table-striped {
    margin-top: 40px;
    background-color: #f9f9f9;
}

th {
    background-color: #b9def0;
    text-align: center;
}

td:nth-child(1) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;
}

td:nth-child(5) {
    text-align: center;
}