body {
    background: url(../picture/IMG_47042.jpg) no-repeat center fixed; 
    background-size: cover;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
}
.navbar {
    background-color: #2aabd2;
}
.navbar .navbar-brand {
    color: darkblue;
}
.navbar .navbar-nav > li > a {
    color: #0f0f0f;
    /*font-weight: bolder;*/
    /*font-size: 11px;*/
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #000;
}

.well {
    width: 300px;
    height: 500px;
    text-align: center;
}

.well img{
     width: 200px; 
     height: 200px;
}

.btn btn-primary{
    padding-top: 10px;
}

.col-md-9 {
    padding-left: 50px;
}